In [1]:
# Load relevant packages
import pandas as pd
import numpy as np

In [2]:
AGENDAS = pd.read_excel('./files/Agendas.xlsx', index=False)
print(AGENDAS.shape)
print(AGENDAS.columns)
AGENDAS.head()

(8851, 11)
Index(['ID', 'Fecha nacimiento', 'Sexo', 'Cód. Entidad',
       'Nombre de la Entidad', 'Fecha cita', 'Jerarquía', 'Nivel 2',
       'Estado cita', 'Tipo cita', 'Dias proxima cita'],
      dtype='object')

,ID,Fecha nacimiento,Sexo,Cód. Entidad,Nombre de la Entidad,Fecha cita,Jerarquía,Nivel 2,Estado cita,Tipo cita,Dias proxima cita
0,1881162,1956-08-09,Masculino,EPS010,Sura EPS,2018-06-27,Clipso Antioquia,Dermatología,Atendida,Primera Vez,90
1,1881162,1956-08-09,Masculino,EPS010,Sura EPS,2018-07-27,Clipso Antioquia,Químico Farmacéutico,Atendida,Primera Vez,180
2,1881162,1956-08-09,Masculino,EPS010,Sura EPS,2018-07-27,Clipso Antioquia,Psicología,Atendida,Primera Vez,180
3,1881162,1956-08-09,Masculino,EPS010,Sura EPS,2018-10-10,Clipso Antioquia,Dermatología,Inasistida,Control,NaN
4,1881162,1956-08-09,Masculino,EPS010,Sura EPS,2018-11-07,Clipso Antioquia,Dermatología,Atendida,Control,180

In [3]:
FENOTIPOS = pd.read_excel('./files/Fenotipos.xlsx', index=False)
print(FENOTIPOS.shape)
print(FENOTIPOS.columns)
FENOTIPOS.head()

(1661, 3)
Index(['ID', 'Fecha consulta', 'Fenotipo(s)'], dtype='object')

        ID Fecha consulta                          Fenotipo(s)
0  2621792     2019-01-09                     Psoriasis vulgar
1  2094054     2019-01-09        Psoriasis del cuero cabelludo
2  1596461     2019-01-09                    Psoriasis ungular
3  3449603     2019-01-09        Psoriasis del cuero cabelludo
4  2293849     2019-01-09  Psoriasis palmoplantar no pustulosa

In [4]:
RA = pd.read_excel('./files/Riesgo asociado.xlsx', index=False)
print(RA.shape)
print(RA.columns)
RA.head()

(85138, 6)
Index(['ID', 'Fecha', 'Resultado Total', 'Pregunta', 'Respuesta',
       'Sede de atención'],
      dtype='object')

,ID,Fecha,Resultado Total,Pregunta,Respuesta,Sede de atención
0,2514536,2020-04-22 10:44:02,No Aplica,Terapia biológica -> Tratamiento activo,0,Almacentro Piso 11
1,2514536,2020-04-22 10:44:02,No Aplica,Terapia biológica -> Medicamento que requiere ...,0,Almacentro Piso 11
2,2514536,2020-04-22 10:44:02,No Aplica,PASI -> > 15 sin tratamiento previo,0,Almacentro Piso 11
3,2514536,2020-04-22 10:44:02,No Aplica,DLQI -> > 10,0,Almacentro Piso 11
4,2514536,2020-04-22 10:44:02,No Aplica,Terapia sistématica previa -> Tratamiento prev...,0,Almacentro Piso 11

In [5]:
TERAPIAS = pd.read_excel('./files/Terapias.xlsx', index=False)
print(TERAPIAS.shape)
print(TERAPIAS.columns)
TERAPIAS.head()

(3034, 4)
Index(['ID', 'Medicamento', 'Fecha Inicio', 'Fecha Fin'], dtype='object')

       ID        Medicamento Fecha Inicio            Fecha Fin
0  502369         Adalimumab   2016-03-18                  NaN
1  506165         Etanercept   2018-05-11                  NaN
2  507805       Betametasona   2012-08-17  2019-11-28 00:00:00
3  507805        Metotrexate   2012-08-23  2012-09-22 00:00:00
4  507805  Quimiofototerapia   2013-04-29  2014-05-12 00:00:00